@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.cabecalho1{
    background-color: #424E61;
    color: white;
    display: flex;
    /* Display Flex: Flexiona o que está embaixo para o lado*/
    justify-content: space-around;
    /* Justifica, e o Space Around justifica uniformemente basicamente é isso*/
}

.logodbz{
    width: 15%;
    height: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    /*margin: 6px; */
    /*A Margin assim vai funcionar, mas Escola e eEstudante vai ficar muito perto um do outro já que foi colocado 6px Vertical e Horizontal*/
    margin: 22px 25px;
    padding: 0px;
    /*Deixei padding de 0px que é espaçamento interno zero pq eu nao quero que muda nada, se eu aumentar o pixel ele deixa feio, coloquei pq no vídeo cobra da gente*/
    font-size: 18px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.estudante-div{
    text-align: center;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
width: 24px;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape{
    background-color: black;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}